{% extends 'base.html' %} {% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock css %}

{% block content %}


<div class="container">
  <div class="sidebar">
    <div>
      <div class="logo"></div>
      <img style="height:214px;" src="/media/profile/logo_processed.png" />
    </div>
    <div>
      <!-- <p>&copy; 2024 CureSync. All rights reserved.</p> -->
    </div>
  </div>
  <div class="main-content">
    <div class="hexagon-container">
      <div class="hexagon" onclick="location.href='{% url 'user:home_page' %}'">
        <div class="hexagon-content">
          <div class="hexagon-icon">👤</div>
          <div class="hexagon-text">User</div>
        </div>
      </div>
      <div class="hexagon" onclick="location.href='{% url 'opd:login' %}'">
        <div class="hexagon-content">
          <div class="hexagon-icon">🏥</div>
          <div class="hexagon-text">OPD</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="particles-js" class="particles"></div>
{% endblock content %}


{% block js %}
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock js %}
