{% extends 'base.html' %} {% load static %} {% block content %}

<main class="home">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>Search by Bed</h2>
      </div>
    </div>
  </section>
</main>

<br></br>
<div style="display: flex; justify-content: flex-end;">
  <span class="tag tag--pill tag--sub tag--lg">
    <small>sort by bed</small>
  </span>
  <span class="tag tag--pill tag--sub tag--lg">
    <small>sort by location</small>
  </span>
</div>
{% include 'user/hospital_record.html' %}
<div style="text-align: center;">
  <h3>pagination</h3>
</div>
{% endblock content %}
