{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/user.css' %}" />
{% endblock css %}
{% block content %}
<div class="dashboard-container">
  <header>

    <h1>User Dashboard</h1>
    <nav class="navbar">
      <div class="navbar-menu">
        <a href="{% url 'user:login' %}">Login</a>
      </div>
    </nav>
  </header>
  <main class="main-content">
    <div class="search-options">
      <a href="{% url 'user:bed_list' %}" class="search-card" style="text-decoration:none; color:inherit">
        <div class="icon-container">
          <i class="fas fa-bed"></i>
        </div>
        <span>Search by bed</span>
      </a>
      <a href="{% url 'user:search_specialist'  %}" class="search-card" style="text-decoration: none; color: inherit;">
        <div class="icon-container">
          <i class="fas fa-stethoscope"></i>
        </div>
        <span>Search by Specialties</span>
      </a>
      <a href="{% url 'user:opd_list' %}" class="search-card" style="text-decoration: none; color: inherit;">
        <div class="icon-container">
          <i class="fas fa-hospital-user"></i>
        </div>
        <span>Search by OPD</span>
      </a>
    </div>
    <div class="quick-stats">
      <div class="stat-card">
        <h3>Available Beds</h3>
        <div class="stat-value">{{total_beds_count}}</div>
      </div>
      <div class="stat-card">
        <h3>Active Doctors</h3>
        <div class="stat-value">{{total_doctor_count}}</div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}
