{% extends 'base.html' %} {% load static %}{% block content %}

<main class="home">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>User</h2>
      </div>
    </div>
  </section>
</main>
<section class="devlist">
  <div class="container">
    <div class="grid grid--three">

      <div class="column card">
        <div class="dev">
          <a href="{% url 'user:bed_list'  %}" class="card__body">
            <div class="dev__profile">
              <img class="avatar avatar--md" src="{% static 'images/profile/user-default.png' %}" alt="image" />
              <div class="dev__meta">
                <h3>search by bed</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="column card">
        <div class="dev">
          <a href="{% url 'user:search_specialist' %}" class="card__body">
            <div class="dev__profile">
              <img class="avatar avatar--md" src="{% static 'images/profile/user-default.png' %}" alt="image" />
              <div class="dev__meta">
                <h3>Search by Specialties</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="column card">
        <div class="dev">
          <a href="{% url 'user:hospital_list' %}" class="card__body">
            <div class="dev__profile">
              <img class="avatar avatar--md" src="{% static 'images/profile/user-default.png' %}" alt="image" />
              <div class="dev__meta">
                <h3>Search by OPD</h3>
              </div>
            </div>
          </a>
        </div>
      </div>





    </div>
</section>
{% endblock content %}
