{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/bed_opd_specialist.css' %}" />
<style>
  input::placeholder {
    font-size: 20px;
  }
</style>
{% endblock css %}
{% block content %}
<div class="dashboard-container">
  <main class="main-content">
    <header style="display:flex; justify-content: safe;">
      <h1>Search by Specialist</h1>
      <form id="search_form" method="post" action="">
        {% csrf_token %}
        <div class="search-bar">
          <input type="text" name="search_query" id="search_text" placeholder="Search for bed number or type" />
        </div>
      </form>
      <button class="sort-btn">ChatBot</button>
    </header>
    <div class="bed-list">
      {% for doctor in doctors %}
      <a href="{% url 'user:appointment' pk=doctor.id %}" class="bed-card"
        style="text-decoration: none; color: inherit;">
        <div class="doctor-info">
          <img src="doctor-avatar.png" alt="Doctor Avatar" class="doctor-avatar" />
          <div class="doctor-details">
            <h3>{{doctor.name}}</h3>
            <p>{{doctor.speciality}}</p>
            <p>Experienced in heart surgeries</p>
          </div>
        </div>
        <div class="bed-availability">
          <p>No. of beds available: <span>5</span></p>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="pagination">
      <button><i class="fas fa-chevron-left"></i></button>
      <span>Page 1 of 5</span>
      <button><i class="fas fa-chevron-right"></i></button>
    </div>
  </main>
</div>
{% endblock content %}
{% block js %}
<scripts src="{% static 'scripts/form_submit.js' %}"></scripts>
{% endblock js %}
