{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/bed_opd_specialist.css' %}" />
<style>
  input::placeholder {
    font-size: 20px;
  }
</style>
{% endblock css %}
{% block content %}
<div class="dashboard-container">
  <main class="main-content">
    <header style="display:flex; justify-content: safe;">
      <h1>Search by Specialist</h1>
      <div class="search-bar">
        <input type="text" placeholder="Search for bed number or type" style="width: 600px;" />
      </div>
      <button class="sort-btn">ChatBot</button>
    </header>
    <div class="bed-list">
      <div class="bed-card">
        <div class="doctor-info">
          <img src="doctor-avatar.png" alt="Doctor Avatar" class="doctor-avatar" />
          <div class="doctor-details">
            <h3>Dr. John Doe</h3>
            <p>Cardiology</p>
            <p>Experienced in heart surgeries</p>
          </div>
        </div>
        <div class="bed-availability">
          <p>No. of beds available: <span>5</span></p>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button><i class="fas fa-chevron-left"></i></button>
      <span>Page 1 of 5</span>
      <button><i class="fas fa-chevron-right"></i></button>
    </div>
  </main>
</div>
{% endblock content %}
