{% extends 'opd/index.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/opd_appointment.css' %}" />
{% endblock css %} {% block content %}
<main class="main-content">
  <div class="notification">
    <strong>New Online Booking!</strong> You have 3 new appointment
    requests.
  </div>
  <div class="header">
    <h1>Appointments</h1>
    <input type="text" class="search-bar" placeholder="Search appointments" />
    <button id="online_request" data-url="{% url 'opd:appointment_request' %}" class="add-btn">online request</button>
  </div>
  <div class="stats-container">
    <div class="stat-card">
      <h3>Total Appointments</h3>
      <div class="stat-value">{{total_appointment}}</div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Patient Name</th>
        <th>Date & Time</th>
        <th>Mode</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.appointment_id}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.date_of_appointment}}</td>
        <td>{{appointment.appointment_type}}</td>
        <td>
          <button class="action-btn">📝</button>&nbsp
          <button class="action-btn">🗑️</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">pagination here</div>
</main>
{% endblock content %}
{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const appointmentElement = document.getElementById("appointment");
    appointmentElement.classList.add("active");
  });
</script>
<script src="{% static 'scripts/online_appointment_request.js' %} "></script>
{% endblock js %}
