{% extends 'base.html' %} {% load static %} {% block content %}
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <h1>Details</h1>
            <ul class="dev__social">
              <li>
                <h4>name</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
