{% extends 'opd/index.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/doctor_profile.css' %}" />
{% endblock css %} {% block content %}
<main class="main-content">
  <div class="profile-header">
    <img src="doctor-avatar.jpg" alt="Doctor Image" class="profile-image" />
    <div>
      <h1 class="profile-name">{{doctor.name}}</h1>
      <br />
      <button class="edit-btn" id="editProfileBtn">Edit Profile</button>
    </div>
  </div>

  <section class="profile-section">
    <h2 class="section-title">Personal Information</h2>
    <div class="info-grid">
      <div class="info-item">
        <span class="info-label">Email:</span> {{doctor.email}}
      </div>
      <div class="info-item">
        <span class="info-label">Phone:</span> {{doctor.phone_number}}
      </div>
      <div class="info-item">
        <span class="info-label">specialization:</span> {{doctor.speciality}}
      </div>
      <div class="info-item">
        <span class="info-label">Years of Experience:</span> {{doctor.experience}}
      </div>
    </div>
  </section>

  <section class="profile-section">
    <h2 class="section-title">Education & Qualifications</h2>
    {{doctor.education}}
  </section>

  <section class="profile-section">
    <h2 class="section-title">Address</h2>
    {{doctor.address}}
  </section>

  <section class="profile-section">
    <h2 class="section-title">About</h2>
    <p>{{doctor.about}}</p>
  </section>
</main>
{% endblock content %} {% block js %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const doctorElement = document.getElementById("doctor");
    doctorElement.classList.add("active");
  });
</script>
{% endblock js %}
