<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
  {% block css %} {% endblock css %}
</head>

<body>
  {% if messages %} {% for message in messages %}

  <div class="alert alert--{{message.tags}}">
    <p class="alert__message">{{message}}</p>
  </div>
  {% endfor %} {% endif %}

  <div class="dashboard-container">
    <aside class="sidebar">
      <div class="logo">
        <h2 style="color: #2a7fba">CureSync</h2>
      </div>
      <nav>
        <ul>
          <li id="patient">
            <a href="{% url 'opd:home_page' %}"><span class="icon">👥</span> Patients</a>
          </li>
          <li id="appointment">
            <a href="{% url 'opd:appointment' %}"><span class="icon">📅</span> Appointments</a>
          </li>
          <li id="product">
            <a href="{% url 'opd:product_list' %}"><span class="icon">📦</span> Products & stock</a>
          </li>
          <li id="doctor">
            <a href="{% url 'opd:doctor_profile' %}"><span class="icon">👨‍⚕️</span> Doctor</a>
          </li>
          <li id="earning">
            <a href="{% url 'opd:earning' %}"><span class="icon">💰</span> Earnings</a>
          </li>
          <li id="logout">
            <a href="{% url 'opd:logout' %}"><span class="icon">💰</span> logout</a>
          </li>
        </ul>
      </nav>
    </aside>
    {% block content %}
    {% endblock content %}
  </div>

</body>
{% block js %}
{% endblock js %}

</html>
