{% extends 'opd/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/patient.css' %}" />
{% endblock css %}

{% block content %}
<main class="main-content">
  <header>
    <h1>Patients</h1>
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search for patients" />
    </div>
  </header>
  <div class="patient-stats">
    <div class="stat-card">
      <h3>Total Patients</h3>
      <div class="stat-value">{{opd.patient_count}}</div>
    </div>
  </div>
  <div class="patient-list">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Patient Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Date_of_visit</th>
          <th>Mode</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        {% if patient is not None %}
        <tr>
          <td><a style="text-decoration: none;" href="{% url 'opd:patient_report' id=patient.id %}">
              {{patient.patient_id}}</a></td>
          <td>
            <span>{{patient.name}}</span>
          </td>
          <td>{{patient.age}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.date}}</td>
          <td>{{patient.patient_type}}</td>
          <td>
            <button class="action-btn">📝</button>&nbsp;
            <button onclick="window.location.href='{% url 'opd:confirmation_page' %}?section=patient&id={{patient.id}}'"
              class="action-btn">🗑️</button>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br />
  <h2>pagination here</h2>
</main>
{% endblock content %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const patientElement = document.getElementById("patient");
    patientElement.classList.add("active");

    const searchInput = document.getElementById('searchInput');
    const searchButton = document.getElementById('searchButton');

    function performSearch() {
      const query = searchInput.value.trim();
      if (query) {
        window.location.href = "{% url 'opd:home_page' %}" + '?search_query=' + encodeURIComponent(query);
      }
    }

    searchInput.addEventListener('keypress', function (event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        performSearch();
      }
    });

    searchButton.addEventListener('click', function (event) {
      event.preventDefault();
      performSearch();
    });
  });
</script>
{% endblock js %}
