{% extends 'opd/index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}" />
{% endblock css %}

{% block content %}
<main class="main-content">
  <header>
    <h1>Products & Stock</h1>
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search for products" />
      <button class="search-btn" id="searchButton"><i class="fas fa-search"></i></button>
    </div>
    <button onclick="window.location.href='{% url 'opd:add_product' %}'" class="add-product-btn">+ Add Product</button>
  </header>
  <div class="stock-stats">
    <div class="stat-card">
      <h3>Total Products</h3>
      <div class="stat-value">{{count}}</div>
    </div>
  </div>
  <div class="product-list">
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>
            <span>{{product.medicine.name}}</span>
          </td>
          <td>{{product.medicine.category}}</td>
          <td>{{product.quantity}}</td>
          <td>Rs {{product.price}}</td>
          <td>
            <button class="action-btn">📝</button>
            <button onclick="window.location.href='{% url 'opd:confirmation_page' %}?section=product&id={{product.id}}'"
              class="action-btn">🗑️</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const productElement = document.getElementById("product");
    productElement.classList.add("active");

    const searchInput = document.getElementById('searchInput');
    const searchButton = document.getElementById('searchButton');

    // Remove search query from URL on page load/refresh
    if (window.location.search.includes('search_query')) {
      window.history.replaceState({}, document.title, window.location.pathname);
    }

    function performSearch() {
      const query = searchInput.value.trim();
      if (query) {
        window.location.href = "{% url 'opd:product_list' %}" + '?search_query=' + encodeURIComponent(query);
      }
    }

    searchInput.addEventListener('keypress', function (event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        performSearch();
      }
    });

    searchButton.addEventListener('click', function (event) {
      event.preventDefault();
      performSearch();
    });
  });
</script>
{% endblock js %}
