{% load static %}
<!-- Header Section -->
<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'user:home_page' %}" class="header__logo">
      <img src="" alt="logo" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>

      <ul class="header__menu">
        <li class="header__menuItem">
          <a href="#">navbar1</a>
        </li>

        <!-- {% if request.resolver_match.url_name == "daily-tasks-list" %} -->
        <!-- <li class="header__menuItem"> -->
        <!--   <a href="{% url 'taskmanager:create-daily-task' %}" class="btn btn--sub">Add</a> -->
        <!-- </li> -->
        <!-- {% endif %}  -->

        <!-- {% if request.resolver_match.namespace == "home" %} -->
        <li class="header__menuItem">
          <a href="#" class="btn btn--sub">Logout</a>
        </li>
        <!-- {% endif %} -->
      </ul>
    </nav>
  </div>
</header>
