{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/ eform.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form.css' %}" />
{% endblock css %} {% block content %}
<div class="container">
  <div class="form-card">
    <h2>Product Form</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">{{form.name.label}}</label>
        <input type="text" id="name" name="name" required /><br></br>
        <label for="quantity">{{form.quantity.label}}</label>
        <input type="number" id="quantity" name="quantity" required /><br></br>
        <label for="price">{{form.price.label}}</label>
        <input type="number" id="price" name="price" required /><br></br>
      </div>

      <div class="form-group">
        <label>{{form.type.label}}</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="type" value="oral" required /> Oral
          </label>
          <label>
            <input type="radio" name="type" value="vascular" /> Vascular
          </label>
          <label>
            <input type="radio" name="type" value="applicant" /> Applicant
          </label>
        </div>
      </div>
      <div class="form-footer">
        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
