<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CureSync Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <div class="dashboard-container">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <img class="logo" src="/media/profile/logo_processed.png" alt="CureSync Logo" />
                    <h2>CureSync</h2>
                </div>
				<nav class="sidebar-nav">
					<ul>
						<li class="nav-item" id="dashboard">
							<a href="{% url 'user:home_page' %}" class="nav-link">
								<i class="nav-icon fas fa-user-circle"></i>
								<span>Profile</span>
							</a>
						</li>
						<li class="nav-item" id="message">
							<a href="{% url 'user:message' %}" class="nav-link">
								<i class="nav-icon fas fa-envelope"></i>
								<span>Message</span>
							</a>
						</li>
					</ul>
				</nav>
                <div class="sidebar-footer">
                   <a href="{% url 'user:logout' %}" class="nav-link logout-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                   </a>
                </div>
            </aside>
            <main class="main-content">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
        {% block js %}
        {% endblock js %}
    </body>
</html>
